.App {
  text-align: center;
  background-image: url(https://i.pinimg.com/736x/44/57/e1/4457e192e59a49c208c56d0a76fe6265.jpg) ;
  min-height: 100vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Random button {
  align-items: center;
  justify-content: center;
  background-color:fuchsia;
  display: flex;
  margin: auto;
  margin-top: 1rem;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  display:flex;
  justify-content: space-around;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 100px;
  margin-left: 5px;
}
